<!DOCTYPE html>
<html lang="en">

{% extends "base/header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<body style = "background-color: lightblue;">

<!--Login--> 
<div class="container py-5">
  <h1>Unbiased News</h1>
  <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

<style>
h1 {text-align: center;}
h2 {text-align: center;}
</style>
{% endblock %}